

form {
    margin-top: 2em;
        text-align: center;
          background-color: #1B1E25;
}
.signup-form__input {
    border-radius: 10px;
border: none;
      padding-top: 15px;
         padding-bottom: 15px;
         width: 88%;
         margin: 0 auto;
         background-color:    #636882;
         
        
}